/* coloring text -- video 1 */

h1{
color: green;    
}

li{
color: rgb(90,89,88)
}

p{
color:#4286f4;
}

h4{
color: rgba(90,67.13.0.75)


/* background -- color and url -- video 2 */

body{
background: peru;
} 

body{
    background : url()
    background-repeat: no-repeat;
} 


/* divs and span coloring -- borders cutomizing -- video 3 */

div{
background:orchid;
border: palegoldenrod;
border-width: thick;
border-style:solid;
}

p{
color:yellow;
}

span{
background-color: tomato;
}

/* coloring individual divs etc. with class and id -- video 4 */

.firstDiv{
    color: blue;
}

.secondDiv{
    background: greenyellow;
}

#singleout{
    color:red;
}

h1{
font-family: cursive;
}

p{
font-size: 20px;
font-weight: bold;
font-style: italic;
text-align: center;
}